<% if @note.park_id %>
<img src="<%= Park.find(@note.park_id).image %>" alt="<%= Park.find(@note.park_id).park_name%>" style='height: 100%; width: 100%; object-fit: contain'>
<% end %>
<div class="hero-image" img src="<%= Park.find(@note.park_id).image %>" alt="<%= Park.find(@note.park_id).park_name%>" style='height: 100%; width: 100%; object-fit: contain'">
  <div class="hero-text">
    <h1><%= @note.title%></h1>
    <p><%= @note.content%></p>
  </div>
</div>

 <%if @note.user = current_user%>
  <a href="/notes/<%= @note.id %>/edit">Edit</a>
   <form method="POST" action="/notes/<%= @note.id %>">
      <input type="hidden" value="DELETE" name="_method">
      <input type="submit" value="Delete">
   </form>
   <%end%>
