<form action="/parks/user_parks/new" method="post">
  <h3>Where have you been?</h3>
  <%Park.all.each do |park|%>
  <label>
  <input type="checkbox" name="park_id" value="park.id">
  <span><%=park.park_name%></span><br>
  </label>
  <%end%>
  <input type="hidden" name="user_id" value="<%=current_user.id%>">
  <input type="hidden" name="been_to" value="true">
  <br>
  <input class="button" type="submit" value="Onwards">
</form>

<%UserPark.all.each do |park|%>
ID: <%=park.id%><br>
USER: <%=park.user_id%><br>
PARK: <%=park.park_id%><br>
BEEN TO: <%=park.been_to%><br>
BUCKET LIST: <%=park.bucket_list%> <br><br>
<%end%>
