<form action="/signup" method="POST">
		<h3>Edit your profile!</h3>
				<div class="row">
	        <div class="input-field col s12">
	          <input name="<%= @user.user_name %>" type="text" class="validate">
	          <label for="user_name">Username</label>
	        </div>
	      </div>
	        <div class="input-field col s12">
	          <input name="<%= @user.password %>" type="password" class="validate">
	          <label for="password">Password</label>
	        </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input name="<%= @user.email %>" type="email" class="validate">
	          <label for="email">Email</label>
	        </div>
	      </div>
	    </form>
	  </div>
</form>

<h3>Edit your profile!</h3>
<form action="/user_page" method="POST">
  <input type='hidden' value='PATCH' name='_method'>
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Username</label>
      <input class="u-full-width" type="text" placeholder="<%= @user.user_name %>" id="exampleEmailInput">
    </div>
    <div class="six columns">
      <label for="exampleEmailInput">Email</label>
      <input class="u-full-width" type="email" placeholder="<%= @user.email %>" id="exampleEmailInput">
    </div>
    <div class="six columns">
      <label for="exampleEmailInput">Password</label>
      <input class="u-full-width" type="email" placeholder="<%= @user.password %>" id="exampleEmailInput">
    </div>
  <input class="button-primary" type="submit" value="Submit">
</form>
