
<div class="container white">
  <div class="hero-text">
    <h3 style="color:#888" align="center">Welcome <%=@user.user_name%>!</h3>
  </div>



  <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Your notes</div>
        <div class="collapsible-body"><span>
          <%@user.notes.each do |note|%>
          <div class="chip"><a href="/notes/<%=note.id%>"><%=note.title%></a> </div>
          <%end%>
          <br><br><a class="button"href="/notes/new">Write a new note</a></span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Parks you've been to</div>
        <div class="collapsible-body">
          <span>
                <% @user.user_parks.each do |up|%>
                    <%if up.been_to %>
                    <div class="chip">
                      <a href="/parks/<%=up.park_id%>"><%=up.park.park_name%></a>
                    </div>
                   <%end%>
                  <%end%>
                  <br><br><a class="button" href="/user_parks/been_to">Where else have you been?</a>
         </span>
         </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Parks on your bucket list</div>
        <div class="collapsible-body">
          <span><% @user.user_parks.each do |up|%>
                    <%if up.bucket_list%>
                    <div class="chip"><a href="/parks/<%=up.park.id%>"><%=up.park.park_name%></a></div>
                   <%end%>
                  <%end%>
                  <br><br><a class="button" href="/user_parks/bucket_list">Where else are you going?</a>
          </span>
         </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Edit or delete your profile</div>
        <div class="collapsible-body">

              <form method="POST" action="/users/<%= @user.id %>">
                <div class="six columns">
                <a class="button button-primary" href="/users/<%= @user.id %>/edit">Edit</a>
                 </div>
                 <div class="six columns">
                 <input type="hidden" value="DELETE" name="_method">
                 <input class="button button-primary" type="submit" value="Delete">
                   </div>
              </form>
              <br>
        </div>
      </li>
    </ul>
  </div>
