<div class="container white">
  <h3>Welcome, <%=@user.user_name%></h3>


  <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Your notes</div>
        <div class="collapsible-body"><span>
          <%@user.notes.each do |note|%>
            <a href="/notes/<%=note.id%>"><%=note.title%></a><br>
          <%end%>
          <br><a href="/notes/new">Write a new note</a></span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Parks you've been to</div>
        <div class="collapsible-body">
          <span>
                <% @user.user_parks.each do |up|%>
                    <%if up.been_to %>
                      <a href="/parks/<%=up.park.id%>"><%=up.park.park_name%></a>
                   <%end%>
                  <%end%>
         </span>
         </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Parks on your bucket list</div>
        <div class="collapsible-body">
          <span><% @user.user_parks.each do |up|%>
                    <%if up.bucket_list%>
                    <a href="/parks/<%=up.park.id%>"><%=up.park.park_name%></a>
                   <%end%>
                  <%end%>
          </span>
         </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Edit or delete your profile</div>
        <div class="collapsible-body">

              <form method="POST" action="/users/<%= @user.id %>">
                <div class="six columns">
                <a class="button black-text"href="/users/<%= @user.id %>/edit">Edit</a>
                 </div>
                 <div class="six columns">
                 <input type="hidden" value="DELETE" name="_method">
                 <input type="submit" value="Delete">
                   </div>
              </form>
        </div>
      </li>
    </ul>
