<div class="container white">
  <h4>Welcome, <%= @user.user_name%></h4>


  <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Your notes</div>
        <div class="collapsible-body"><span>
          <%@user.notes.each do |note|%>
            <a href="/notes/<%=note.id%>"><%=note.title%></a><br>
          <%end%>
          <br><a href="/notes/new">Write a new note</a></span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Parks you've been to</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Parks on your bucket list</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Edit or delete your profile</div>
        <div class="collapsible-body">
          <span><a href="/users/<%= @user.id %>/edit">Edit</a><br>
              <form method="POST" action="/users/<%= @user.id %>">
                 <input type="hidden" value="DELETE" name="_method">
                 <input type="submit" value="Delete">
              </form></span>
        </div>
      </li>
    </ul>
