
<img src="<%= @park.image%>" alt="<%= @park.park_name%>" style='height: 100%; width: 100%; object-fit: contain'>
<div class="hero-image" img src="<%= @park.image%>" alt="<%= @park.park_name%>" style='height: 100%; width: 100%; object-fit: contain'">
  <div class="hero-text">
    <h1><%= @park.park_name%></h1>
    <p><%= @park.headline%></p>
  </div>
</div

<div class="container white">
    <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">control_point</i>Park description</div>
          <div class="collapsible-body"><span><%= @park.description%><br><br><a href="><%= @park.website%></">NPS Website</a></span></div>
        </li>
        <%if logged_in?%>
        <li>
          <div class="collapsible-header"><i class="material-icons">control_point</i>Notes about <%= @park.park_name%></div>
          <div class="collapsible-body">
            <span><%Note.all.each do |note|%>
                  <% if note.park_id == @park.id%>
                    <a href="/notes/<%=note.id%>"><%=note.title%></a><br>
                    <%end%>
                  <%end%>
                  <br><a href="/notes/new">Write a new note</a></span>
            </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">control_point</i>Vistors</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">control_point</i>Users who want to visit</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">control_point</i>Add this park to your profile</div>
          <div class="collapsible-body">
            <span><form action="/user_parks/new" method="post">
              <input type="hidden" name="user_id" value="<%=current_user.id%>">
              <input type="hidden" name="park_id" value="<%=@park.id%>">
            <p>
              <label>
                <input type="checkbox" name="bucket_list" value="userpark.bucket_list" />
                <span>Bucket List!</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" name="been_to" value="userpark.been_to"/>
                <span>Been to!</span>
              </label>
            </p>
            <input type="submit" value="Add to list">
          </form></span>
        </div>
        </li>
        <% end %>
      </ul>
  </div>
