<img src="<%= @park.image%>" alt="<%= @park.park_name%>" style='height: 100%; width: 100%; object-fit: contain'>
<div class="hero-image" img src="<%= @park.image%>" alt="<%= @park.park_name%>" style='height: 100%; width: 100%; object-fit: contain'">
<div class="hero-text">
   <h1 style="color:#33C3F0" align="center"><%= @park.park_name%></h1>
   <p style="color:#888" align="center"><%= @park.headline%></p>
</div>
</div
<div class="container white">
   <ul class="collapsible">
      <li>
         <div class="collapsible-header"><i class="material-icons">control_point</i>Park description</div>
         <div class="collapsible-body"><span><%= @park.description%><br><br><a class="button" href="<%= @park.website%>">NPS Website</a></span></div>
      </li>
      <%if logged_in?%>
      <li>
         <div class="collapsible-header"><i class="material-icons">control_point</i>Notes about <%= @park.park_name%></div>
         <div class="collapsible-body">
            <span><%Note.all.each do |note|%>
            <% if note.park_id == @park.id%>
            <div class="chip"><a href="/notes/<%=note.id%>"><%=note.title%></a> <%=User.find(note.user_id).user_name%></div>
            <%end%>
            <%end%>
            <br><br><a class="button" href="/notes/new">Write a new note</a></span>
         </div>
      </li>
      <li>
         <div class="collapsible-header"><i class="material-icons">control_point</i>Users who have been to <%=@park.park_name%></div>
         <div class="collapsible-body">
            <span>
               <% @park.user_parks.each do |up|%>
               <%if up.been_to%>
               <div class="chip"><%=up.user.user_name%> </div>
               <%end%>
               <%end%>
            </span>
         </div>
      </li>
      <li>
         <div class="collapsible-header"><i class="material-icons">control_point</i>Users who want to visit <%=@park.park_name%></div>
         <div class="collapsible-body">
            <span>
              <% if @park.user_parks.size == 0 %>
              <p>Be the first to add <%=@park.park_name%> to your bucket list!</p>
              <%end%>
               <% @park.user_parks.each do |up|%>
               <%if up.bucket_list%>
               <div class="chip"><%=up.user.user_name%></div>
               <%end%>
               <%end%>
            </span>
         </div>
      </li>
      <li>
         <div class="collapsible-header"><i class="material-icons">control_point</i>Add <%=@park.park_name%> to your profile</div>
         <div class="collapsible-body">
            <span>
               <!-- want to show first form if the current_user doesn't have @park as been_to OR bucket_list -->
               <!-- right now can make multiple UP that are identical, and this always shows -->
               <% if current_user.user_parks.find_by(park_id: @park) == nil %>
               <form action="/parks/user_parks/new" method="post">
                  <input type="hidden" name="user_id" value="<%=current_user.id%>">
                  <input type="hidden" name="park_id" value="<%=@park.id%>">
                  <p>
                     <label>
                     <input type="checkbox" name="bucket_list"/>
                     <span>Bucket List!</span>
                     </label>
                  </p>
                  <p>
                     <label>
                     <input type="checkbox" name="been_to"/>
                     <span>Been to!</span>
                     </label>
                  </p>
                  <input type="submit" value="Add to list">
               </form>
               <%end%>
               <% @park.user_parks.each do |up|%>
               <%if up.user_id == current_user.id && up.bucket_list %>
               <form action="/parks/user_parks/<%=up.id%>" method="post">
                  <input type='hidden' value='PATCH' name='_method'>
                  <input type="hidden" name="bucket_list" value="false">
                  <input type="hidden" name="been_to" value="true">
                  <input type="hidden" name="park_id" value="<%@park.id%>">
                  <input type="hidden" name="user_id" value="<%current_user.id%>">
                  <label>
                  <span>Move to been list?</span>
                  </label>
                  <input type="submit" value="Add to list">
                  <br>
                  <br>
               </form>
               <% end %>
               <% end %>
               <% @park.user_parks.each do |up|%>
               <%if up.user_id == current_user.id && up.been_to || up.bucket_list%>
               <form action="/parks/user_parks/<%=up.id%>" method="post">
                  <input type='hidden' value='DELETE' name='_method'>
                  <p>
                     <label>
                     <span>Remove from Profile?</span>
                     </label>
                     <input type="submit" value="Remove">
               </form>
               <% end %>
               <% end %>
            </span>
         </div>
      </li>
      <%end%>
   </ul>
</div>
